<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://i3.kym-cdn.com/entries/icons/original/000/011/678/sagan.jpg" alt="...">
    </a>

  </div>
  
  
</div>