<ul class="nav nav-pills">
  <li ><a>Home</a></li>
  <li ><a>Chat</a></li>
  <li ><a>Broadcasts</a></li>
  <li ><a>Market</a></li>

  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a>Settings</a></li>
      <li><a>Cart</a></li>
    </ul>
    

  </li>
   <li ><a>Stats</a></li>

</ul>
