<div class="row">
	Signup Page :
	<form action="post">
	<label for="email">E mail </label>
	<input type = "text" id="email" class="form-control">
	<label for="password">Passcode </label>
	<input type = "text" id="password" class="form-control">
	<button type="button">Sign up</button>

	</form>
</div>